
.imagegallarytext{
    color:blue;
}

.homemenu li{
  margin-left: 20px;
  
}
.whitecolor1{
  font:40px;
}

/* First Image */
.first{
   position: absolute;
  top:50px;
  left:20%;
}

.imagecontainer{
  position: absolute;
  top:250px;
  margin-left: 100px;
  margin-right: 100px;
}

.imagecontainer .whitecolor{
  color: #fff;
  letter-spacing: 0.5px;
  width: 100vw;

}
.imagecontainer .paratext{
  color:#fff;
}

 .firstimage{
  background-image: url('profbackground.jpeg'); 
  background-size: cover; 
  height:400px; 
  padding-top:480px;
}


/* Social Media Content */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

/* Image Gallary */
 
.Box-display{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:70vh;
    /* background:#000; */
    background-image: url('profbackground.jpeg'); 
}

.box{
    position:relative;
    width:200px;
    height:200px;
    transform-style:preserve-3d;
    animation: animate 20s linear infinite;
 }
  @keyframes animate{
    0%
    {
      transform: perspective(1000px) rotateY(0deg);
    }
     100%
    {
      transform: perspective(1000px) rotateY(360deg);
    }
  }
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  }
  .box span img{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
  }

.box span img{ 
   transition: transform .5s ease-in-out;
}
  .box span img:hover{
    opacity:0.3;
    transform: rotate(360deg);
  }

  .hovercolor{
  color:#fff;
}

/* Professional services */

.bodycard{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#e6ffff;
}



.conbody{
  position: relative;
  width:1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.conbody .card{
  position: relative;
  max-width: 250px;
  height:150px;
  background:#fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.conbody .card:hover{
  height:400px;
}

.conbody .card .imagebox{
  background:green;
  position: relative;
  width:200px;
  height: 80px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.conbody .card .imagebox img{
  max-width: 100%;
  border-radius: 4px;
}

.conbody .card .content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color:#111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.conbody .card:hover .content{
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
  transition-delay: 0.3s;
}


/* Footer content */
.site-footer{
  background-color: #737373;
   padding-top: 40px;
   padding-left:40px;
   margin-right: 10px;
  font-size:15px;
  line-height: 24px;
  color: #737373;

}

.site-footer hr{
  border-top-color: #bbb;
  opacity:0.5;
}

.setcolor{
  color:#fff;
}

.site-footer h6{
  color:#fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a{
  color: #fff;
}

.site-footer a:hover{
  color: blue;
}

.footer-links{
  padding-left: 0;
  list-style: none;
}

.footer-links li{
  display: block;
}

.footer-links a{
  color:#fff;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover{
  color:blue;
  text-decoration: none;
}